.DS_Store
DerivedData/
*.xcuserdata/
xcuserdata/

LocalCodes/*.csv
LocalCodes/*.json
Sources/PromoKit/Resources/*.csv
!Sources/PromoKit/Resources/demo-premium-codes.csv

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
